name: CI/CD workflow
run-name: >
  Terraform - 
  ${{ github.event.inputs.environment }} - 
  ${{ github.ref_name }}

on:
  workflow_dispatch:
    inputs:
      region:
        description: Select the region
        default: us-east-1
        required: true
        type: choice
        options:
          - us-east-1
          - eu-west-1
      environment:
        description: Select the env
        default: dev
        required: true
        type: choice
        options:
          - dev
          - prod
jobs:
  tf_plan:
    name: Validate and Plan
    runs-on: ubuntu-latest

    environment: ${{ github.event.inputs.environment }}
    defaults:
      run:
        working-directory: ./terraform-eks

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS Credentials (Shell)
        run: |
          echo "AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}" >> $GITHUB_ENV
          echo "AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> $GITHUB_ENV
          echo "AWS_DEFAULT_REGION=us-east-1" >> $GITHUB_ENV
            
      - name: Terraform Init
        run: terraform init -backend-config=backend.config

      - name: Terraform Validate
        run: terraform validate
        
      - name: Terraform Plan
        run: terraform plan
