name: CI/CD workflow

run-name: Terraform -${{ github.event.inputs.environment }} -${{ github.event.inputs.region }} -${{ github.ref_name }}

on:
  workflow_dispatch:
    inputs:
      region:
        description: Select the region
        required: true
        type: choice
        default: us-east-1
        options:
          - us-east-1
          - eu-west-1

      environment:
        description: Select the env
        required: true
        type: choice
        default: dev
        options:
          - dev
          - prod

permissions:
  contents: read
  issues: write

jobs:

  tf_plan:
    name: Validate and Plan
    runs-on: ubuntu-latest

    outputs:
      issue_number: ${{ steps.approval.outputs.issue_number }}

    defaults:
      run:
        working-directory: ./terraform-eks

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS Credentials
        run: |
          echo "AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}" >> $GITHUB_ENV
          echo "AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> $GITHUB_ENV
          echo "AWS_DEFAULT_REGION=${{ github.event.inputs.region }}" >> $GITHUB_ENV

      - name: Terraform Init
        run: terraform init -backend-config=backend.config

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan

      - name: Create Approval Issue
        id: approval
        uses: ./terraform_actions
        with:
          region: ${{ github.event.inputs.region }}
          environment: ${{ github.event.inputs.environment }}
          working_directory: ./terraform-eks
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Show Created Issue
        run: |
          echo "Approval issue created:"
          echo "Issue Number: ${{ steps.approval.outputs.issue_number }}"

  tf_apply:
    name: Apply After Approval
    needs: tf_plan
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./terraform-eks

    steps:
      - uses: actions/checkout@v4

      - name: Wait for Issue Approval
        shell: bash
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ISSUE_NUMBER="${{ needs.tf_plan.outputs.issue_number }}"

          echo "Waiting for approval on issue #$ISSUE_NUMBER"

          APPROVED=false
          MAX_WAIT=1800
          INTERVAL=30
          ELAPSED=0

          while [ $ELAPSED -lt $MAX_WAIT ]; do

            COMMENTS=$(gh issue view $ISSUE_NUMBER --json comments -q '.comments[].body')
            LAST_USER=$(gh issue view $ISSUE_NUMBER --json comments -q '.comments[-1].author.login')

            if echo "$COMMENTS" | grep -q "approve"; then
              if [ "$LAST_USER" == "ch-saikumar-720" ]; then
                echo "Approved by authorized user."
                APPROVED=true
                break
              else
                echo "Approval found but not from authorized user."
              fi
            fi

            sleep $INTERVAL
            ELAPSED=$((ELAPSED + INTERVAL))
          done

          if [ "$APPROVED" != "true" ]; then
            echo "Approval timeout."
            exit 1
          fi

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS Credentials
        run: |
          echo "AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}" >> $GITHUB_ENV
          echo "AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> $GITHUB_ENV
          echo "AWS_DEFAULT_REGION=${{ github.event.inputs.region }}" >> $GITHUB_ENV

      - name: Terraform Init
        run: terraform init -backend-config=backend.config

      - name: Terraform Apply
        run: terraform apply -auto-approve
