name: CI/CD workflow

run-name: >
  Terraform -
  ${{ github.event.inputs.environment }} -
  ${{ github.event.inputs.region }} -
  ${{ github.ref_name }}

on:
  workflow_dispatch:
    inputs:
      region:
        description: Select the region
        required: true
        type: choice
        default: us-east-1
        options:
          - us-east-1
          - eu-west-1

      environment:
        description: Select the env
        required: true
        type: choice
        default: dev
        options:
          - dev
          - prod

  issue_comment:
    types: [created]
    
permissions:
  contents: read
  issues: write

jobs:
  tf_plan:
    name: Validate and Plan
    runs-on: ubuntu-latest

    environment: ${{ github.event.inputs.environment }}

    defaults:
      run:
        working-directory: ./terraform-eks

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS Credentials
        run: |
          echo "AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}" >> $GITHUB_ENV
          echo "AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> $GITHUB_ENV
          echo "AWS_DEFAULT_REGION=${{ github.event.inputs.region }}" >> $GITHUB_ENV

      - name: Verify AWS Identity
        run: aws sts get-caller-identity

      - name: Terraform Init
        run: terraform init -backend-config=backend.config

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -no-color > plan.txt

      - name: Create Custom Approval Issue
        uses: ./terraform_actions
        with:
          region: ${{ github.event.inputs.region }}
          environment: ${{ github.event.inputs.environment }}
          working_directory: ./terraform-eks
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Stop After Issue Creation
        run: echo "Approval issue created. Waiting for manual approval."
  tf_apply:
    if: >
      github.event_name == 'issue_comment' &&
      github.event.issue.pull_request == null &&
      contains(github.event.comment.body, '/approve')

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS Credentials
        run: |
          echo "AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}" >> $GITHUB_ENV
          echo "AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> $GITHUB_ENV
          echo "AWS_DEFAULT_REGION=us-east-1" >> $GITHUB_ENV

      - name: Terraform Init
        run: terraform init -backend-config=backend.config
        working-directory: ./terraform-eks

      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: ./terraform-eks  
