name: CI/CD workflow

run-name: >
  Terraform -
  ${{ github.event.inputs.environment }} -
  ${{ github.event.inputs.region }} -
  ${{ github.ref_name }}

on:
  workflow_dispatch:
    inputs:
      region:
        description: Select the region
        required: true
        type: choice
        default: us-east-1
        options:
          - us-east-1
          - eu-west-1

      environment:
        description: Select the env
        required: true
        type: choice
        default: dev
        options:
          - dev
          - prod

    
permissions:
  contents: read
  issues: write

jobs:
  tf_plan:
    name: Validate and Plan
    runs-on: ubuntu-latest

    environment: ${{ github.event.inputs.environment }}

    defaults:
      run:
        working-directory: ./terraform-eks

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS Credentials
        run: |
          echo "AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}" >> $GITHUB_ENV
          echo "AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> $GITHUB_ENV
          echo "AWS_DEFAULT_REGION=${{ github.event.inputs.region }}" >> $GITHUB_ENV

      - name: Verify AWS Identity
        run: aws sts get-caller-identity

      - name: Terraform Init
        run: terraform init -backend-config=backend.config

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -no-color > plan.txt

      - name: Create Custom Approval Issue
        uses: ./terraform_actions
        with:
          region: ${{ github.event.inputs.region }}
          environment: ${{ github.event.inputs.environment }}
          working_directory: ./terraform-eks
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Stop After Issue Creation
        run: echo "Approval issue created. Waiting for manual approval."
  tf_apply:
    needs: tf_plan
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./terraform-eks

    steps:
      - uses: actions/checkout@v4

      - name: Wait for Issue Approval
        shell: bash
        run: |
          ISSUE_NUMBER=$(gh issue list --label terraform --limit 1 --json number -q '.[0].number')

          echo "Waiting for approval on issue #$ISSUE_NUMBER"

          APPROVED=false
          MAX_WAIT=1800   # 30 minutes
          INTERVAL=30
          ELAPSED=0

          while [ $ELAPSED -lt $MAX_WAIT ]; do
            COMMENTS=$(gh issue view $ISSUE_NUMBER --json comments -q '.comments[].body')

            if echo "$COMMENTS" | grep -q "/approve"; then
              USER=$(gh issue view $ISSUE_NUMBER --json comments -q '.comments[-1].author.login')

              if [ "$USER" == "ch-saikumar-720" ]; then
                echo "Approved by authorized user."
                APPROVED=true
                break
              else
                echo "Approval found but not from authorized user."
              fi
            fi

            sleep $INTERVAL
            ELAPSED=$((ELAPSED + INTERVAL))
          done

          if [ "$APPROVED" != "true" ]; then
            echo "Approval timeout."
            exit 1
          fi

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS Credentials
        run: |
          echo "AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}" >> $GITHUB_ENV
          echo "AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> $GITHUB_ENV
          echo "AWS_DEFAULT_REGION=${{ github.event.inputs.region }}" >> $GITHUB_ENV

      - name: Terraform Init
        run: terraform init -backend-config=backend.config

      - name: Terraform Apply
        run: terraform apply -auto-approve
